footer {
  border-top: 1px solid #f0f0f5;
  .footer-global {
    color: #494950;
    padding: 40px 20px;
    .copyright {
      margin-top: 10px;
      font-size: 12px;
    }
    // h4 {
    //   font-size: 20px;
    //   font-weight: 400;
    //   line-height: 25px;
    //   margin: 0 0 9px 0;
    // }
    // ul {
    //   margin: 0 0 9px 0;

    //   li {
    //     margin: 10px 0;
    //     opacity: 0.7;
    //     &:hover {
    //       opacity: 1;
    //     }
    //   }
    // }
    .footerLinkWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .footer-links {
      display: flex;
      align-items: center;
      li {
        margin-right: 20px;
        font-size: 12px;
        color: #8f8f8f;
        &:hover {
          color: #3ea9f5;
        }
      }
    }
    .social-icons {
      display: flex;
      align-items: center;
      li {
        margin-left: 15px;
        a {
          display: block;
          font-size: 16px;
          color: #fff;
          background-color: #cccccc;
          height: 37px;
          width: 37px;
          line-height: 37px;
          text-align: center;
          border-radius: 50%;
          &:hover {
            background-color: #3ea9f5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .f-col {
    margin-bottom: 25px;
  }
  .f-col:last-child {
    margin-bottom: 0;
  }
  .footer-links {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .footerLinkWrap {
    flex-direction: column;
    align-items: flex-start !important;
  }
  footer .footer-global .social-icons li {
    margin-left: 0;
    margin-right: 15px;
  }
}
