<div class="form-user-wrap user-register">
    <div class="container">
        <div class="form-user-inner">
            <div class="alert alert-success" *ngIf="success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="card card-user">
                <div class="card-body">
                    <div class="form-user no-lbl">
                        <h4>REGISTER</h4>
                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                            </formly-form>
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg btn-block"
                                [disabled]="!form.valid">REGISTER NOW</button>
                            <button #reset hidden type="reset">reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>