<div class="PaymentPage inner-page">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h4 class="mb-3">Payment</h4>
                <p class="mb-4 subtitle">Price of Fuel2Endure: <strong>€ 19,95</strong></p>

                <form [formGroup]="form" (ngSubmit)="save()">
                    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>

                    <hr class="my-3">

                    <ul class="payment-detail list-unstyled">
                        <li>
                            <span>Amount :- </span><strong>€ 19.95</strong>
                        </li>
                        <li>
                            <span>Discount :- </span>
                        </li>
                        <li>
                            <span>Subscription for year 1 :- </span><strong>€ 0.00</strong>
                        </li>
                        <li>
                            <span>To pay :- </span><strong>€ 19.95</strong>
                        </li>
                    </ul>

                    <div class="form-btns mt-4">
                        <button type="submit" class="btn btn-secondary">Pay now</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>