<div class="ProfilePage inner-page">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-4">
                <div class="profile-detail">
                    <div class="athlete-avatar">
                        <img src="../../../content/assets/images/avatar.png" alt="Img" />
                    </div>
                    <h4 class="athlete-name">Test Account</h4>
                    <div class="location">
                        <i class="fa fa-map-marker mr-1"></i>
                        Aalsmeer, Noord-Holland, Netherlands
                    </div>
                </div>
            </div> -->
            <div class="col-md-12">

                <h3 class="mb-4">Personal detail</h3>

                <hr><br>

                <jhi-alert-error></jhi-alert-error>

                <form [formGroup]="editForm" (ngSubmit)="save()">
                    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="editForm"></formly-form>

                    <div class="form-btns mt-4">
                        <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid || isSaving">
                            Save Profile
                        </button>
                        <button type="button" class="btn btn-link" (click)="logout()">
                            Sign out
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>