<header>
    <div class="container">
        <div class="header-inner">
            <div class="main-logo">
                <a routerLink="/dashboard">
                    <img src="{{headerData.logo}}" alt="img" />
                </a>
            </div>
            <a class="menu-handler" (click)="show_mobile_menu = !show_mobile_menu" href="javascript:void(0);">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="main-menu-outer" [class.show]="show_mobile_menu">
                <div class="menu-left">
                    <div class="search-option">
                        <div class="search-trigger" (click)="show_search = true">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="search-bar" [class.show]="show_search">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-secondary" id="dropdownBasic1"
                                    ngbDropdownToggle>Athletes</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button *ngFor="let value of headerData.search_options"
                                        ngbDropdownItem>{{value}}</button>
                                </div>
                            </div>
                            <div class="search-wrap">
                                <input class="form-control" type="search" placeholder="Search">
                                <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="search-cancel" (click)="show_search = false">
                                <img src="{{headerData.search_cancel_img}}" alt="img" />
                            </div>
                        </div>
                    </div>
                    <ul class="main-menu">
                        <li *ngFor="let item of headerData.menu" [class.is-child]="item.is_child"
                            [class.open]="selectedItem === item.item_name">
                            <a routerLink="{{item.link}}">{{item.text}}</a>
                            <a class='open-close' (click)="onToggle(item.item_name)"><i
                                    class='fa fa-angle-down'></i></a>
                            <ul *ngIf="item.is_child">
                                <li *ngFor="let child_item of item.childs">
                                    <a routerLink="{{child_item.link}}">{{child_item.text}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="menu-right">
                    <ul class="main-menu">
                        <li [class.is-child]="headerData.account.is_child"
                            [class.open]="selectedItem === headerData.account.item_name">
                            <a routerLink="{{headerData.account.link}}">
                                <div class="avatar">
                                    <img class="avatar-img" src="{{headerData.account.avatar}}" alt="img">
                                    <span class="profile-name hide-on-desk">{{headerData.account.text}}</span>
                                </div>
                            </a>
                            <a class='open-close' (click)="onToggle(headerData.account.item_name)"><i
                                    class='fa fa-angle-down'></i></a>
                            <ul class="menu-align-right" *ngIf="headerData.account.is_child">
                                <li *ngFor="let child_item of headerData.account.childs">
                                    <a routerLink="{{child_item.link}}">{{child_item.text}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
