<div class="form-user-wrap">
    <div class="container">
        <div class="form-user-inner">
            <div class="card card-user">
                <div class="card-body">
                    <div class="form-user">
                        <h4>LOGIN</h4>
                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                            </formly-form>
                            <div class="forgotLink">
                                <a (click)="requestResetPassword()">Forgot password?</a>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block"
                                [disabled]="!form.valid">LOGIN NOW</button>
                        </form>
                        <div class="signUpLink">
                            Don't have an account? <a routerLink="/login/register">Register now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
