<div class="form-user-wrap" style="background-image: url('./content/assets/images/LoginBg.png')">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 mx-auto">
                <div class="card card-user my-5">
                    <div class="card-body">
                        <div class="form-user">
                            <h2>Login</h2>
                            <p class="hint-text">Login to your account.</p>

                            <form [formGroup]="form" (ngSubmit)="submit()">
                                <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                                </formly-form>
                                <hr class="my-3">
                                <button type="submit" class="btn btn-secondary btn-lg btn-block"
                                    [disabled]="!form.valid">Sign In</button>
                            </form>
                            <hr class="my-2">
                            <a class="btn btn-outline-secondary btn-lg btn-block" routerLink="/login/register">Sign Up</a>
                            <div class="text-center mt-3">
                                <a class="forgotLink text-dark" (click)="requestResetPassword()">Forgot your
                                    password?</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
