<div class="ProdutListPage inner-page">
  <div class="container">
    <h4 class="mb-2">Training list</h4>
    <div class="card">
      <div class="card-body">
        <div class="btn-wrap text-right mb-3">
          <button id="jh-create-entity" class="btn btn-primary" [routerLink]="['/product/new']">
            <i class="fa fa-plus mr-2"></i>Create a new Training
          </button>
        </div>

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
          <span>No training found</span>
        </div>

        <div class="table-responsive" id="entities" *ngIf="products && products.length > 0">
          <table class="table table-striped table-hover" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col" jhiSortBy="id">
                  <span>ID</span>
                  <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="name">
                  <span>Name</span>
                  <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="description">
                  <span>Description</span>
                  <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="price">
                  <span>Price</span>
                  <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="size">
                  <span>Size</span>
                  <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="productCategory">
                  <span>Product Category</span>
                  <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products | filter: term; trackBy: trackId">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>${{ product.price }}</td>
                <td>{{ product.productSize }}</td>
                <td>
                  <span *ngIf="product.productCategory"> {{ product.productCategory.name }}</span>
                </td>
                <td style="width: 130px; text-align: center">
                  <a [routerLink]="['/product', product.id, 'edit']" class="edit">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a (click)="delete(product)" class="delete">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="dataT-row" *ngIf="products && products.length > 0">
          <div class="dataT-col-1">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"> </jhi-item-count>
          </div>

          <div class="dataT-col-2">
            <ngb-pagination
              [collectionSize]="totalItems"
              [(page)]="ngbPaginationPage"
              [pageSize]="itemsPerPage"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="loadPage($event)"
            >
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
