/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafc;
  font-size: 14px;
  color: #25345b;
}
a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: inherit;
}
hr {
  border-top: 1px solid #dfdfe8;
}
p {
  color: #25345b;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
img {
  display: block;
  max-width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d1d3da !important;
  opacity: 1 !important;
  font-size: 12px;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d1d3da !important;
  font-size: 12px;
  text-transform: uppercase;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d1d3da !important;
  font-size: 12px;
  text-transform: uppercase;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
}
.btn-primary {
  background-color: #4372fc;
  border-color: #4372fc;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #3f69e5;
  border-color: #3f69e5;
}
.btn.btn-lg {
  font-size: 16px;
  height: 48px;
}
.theme-top-nav.navbar {
  background-color: #fff !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;

  .dropdown-menu {
    border-radius: 10px;
  }
}
.nav-link {
  cursor: pointer;
}
.navbar-toggler.navbar-toggler-show {
  display: block;
  border: none;
  padding: 0;
  span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #4372fc;
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
      width: 22px;
    }
  }
}
.navbar-collapse {
  flex-grow: 0;
}
.nav-options .nav-item {
  margin: 0 5px;
}
.nav-options .nav-item .nav-link {
  color: #777 !important;
}
.collapsible {
  overflow: hidden;
}
.page-item.active .page-link {
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}
.card-side-inner.card {
  border: none;
}
.card-side-inner.card .card-body {
  padding: 0 15px;
}
.main-content {
  margin-left: 260px;
}
.page-content {
  padding: 40px;
  min-height: calc(100vh - 122px);
  // height: calc(100vh - 117px);
  // overflow-y: auto;
}
.sidebar-wrap {
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #ddd;
  padding-bottom: 60px;
  .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;

    &:after {
      content: '';
      background-color: #ffffff;
      // background: #1dc7ea;
      // background: linear-gradient(to bottom, #1dc7ea 0, #4091ff 100%);
      background-size: 150% 150%;
      z-index: 2;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // opacity: 0.77;
    }
  }
  .navbar {
    border: none;
    margin-left: 0;
    background-color: inherit;
    padding: 0;
    position: relative;
    z-index: 3;
    .side-menu-container {
      width: 100%;
    }
  }
  .navbar-header {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    height: 80px;
    .navbar-brand {
      background-color: #ecf0fe;
      padding: 29px 24px;
      margin: 0;
      display: block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
  .navbar-nav {
    .panel {
      border: 0 none;
      box-shadow: none;
      margin: 0;
      background: inherit;
    }
    li {
      display: block;
      width: 100%;
      a {
        padding: 25px;
        color: #d7d8df;
        text-transform: uppercase;
        font-weight: 400;
        overflow: hidden;
        .glyphicon,
        i {
          font-size: 22px;
          margin-right: 25px;
          width: 28px;
          text-align: center;
        }
      }
      a.active,
      a:hover {
        color: #4d4d4d;
      }
    }
  }
  .nb {
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
    overflow: hidden;
  }
}

.main-content {
  margin-left: 0;
  -moz-animation: bodyslideout 300ms forwards;
  -o-animation: bodyslideout 300ms forwards;
  -webkit-animation: bodyslideout 300ms forwards;
  animation: bodyslideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sidebar-wrap {
  -moz-animation: slideout 300ms forwards;
  -o-animation: slideout 300ms forwards;
  -webkit-animation: slideout 300ms forwards;
  animation: slideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.wrapper.show_sidebar {
  .sidebar-wrap {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .main-content {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .brand-small {
    display: none;
  }
  .brand-big {
    display: block;
    span {
      position: relative;
      top: 2px;
    }
  }
  .sidebar-wrap .navbar-nav li a i {
    margin-right: 8px;
    font-size: 17px;
  }
  .sidebar-bottom-links {
    left: 15px;
    bottom: 15px;
    right: 15px;
  }
}

/* Slide in animation */
@-moz-keyframes slidein {
  0% {
    width: 80px;
  }
  100% {
    width: 260px;
  }
}
@-webkit-keyframes slidein {
  0% {
    width: 80px;
  }
  100% {
    width: 260px;
  }
}
@keyframes slidein {
  0% {
    width: 80px;
  }
  100% {
    width: 260px;
  }
}
@-moz-keyframes slideout {
  0% {
    width: 260px;
  }
  100% {
    width: 80px;
  }
}
@-webkit-keyframes slideout {
  0% {
    width: 260px;
  }
  100% {
    width: 80px;
  }
}
@keyframes slideout {
  0% {
    width: 260px;
  }
  100% {
    width: 80px;
  }
}

@-moz-keyframes bodyslidein {
  0% {
    margin-left: 80px;
  }
  100% {
    margin-left: 260px;
  }
}
@-webkit-keyframes bodyslidein {
  0% {
    margin-left: 80px;
  }
  100% {
    margin-left: 260px;
  }
}
@keyframes bodyslidein {
  0% {
    margin-left: 80px;
  }
  100% {
    margin-left: 260px;
  }
}
@-moz-keyframes bodyslideout {
  0% {
    margin-left: 260px;
  }
  100% {
    margin-left: 80px;
  }
}
@-webkit-keyframes bodyslideout {
  0% {
    margin-left: 260px;
  }
  100% {
    margin-left: 80px;
  }
}
@keyframes bodyslideout {
  0% {
    margin-left: 260px;
  }
  100% {
    margin-left: 80px;
  }
}

.close-sidebar {
  display: none;
}

.side-menu-container {
  > .navbar-nav {
    > .nav-item {
      position: relative;

      > .card.collapsible {
        position: absolute;
        top: 0;
        left: 100%;
        box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.3);
        width: 200px;
      }
    }
  }
  .card.collapsible .card-body {
    padding: 6px;
  }
}
.show_sidebar {
  .side-menu-container {
    > .navbar-nav {
      > .nav-item {
        > .card.collapsible {
          position: static;
          top: 0;
          left: 0;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
          width: auto;
        }
      }
    }
  }
}

.navbar-title h5 {
  margin: 0;
  padding-left: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #0b1d53;
}
.nl-block {
  display: inline-flex;
  vertical-align: middle;
  .profile-img {
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    height: 35px;
    margin-right: 12px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .nl-right {
    margin-right: 15px;
    .userName {
      font-size: 12px;
      text-transform: uppercase;
      color: #000;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
    .accSeting {
      font-size: 12px;
      color: #a1a5b2;
    }
  }
}

.dropdown-toggle::after {
  border-top-color: #4372fc;
  border-bottom-color: #4372fc;
}

// For all forms

form {
  label {
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 13px;
  }
  .form-control {
    height: 50px;
    box-shadow: none !important;
    border-color: #e3e3e3;
  }
  textarea.form-control {
    height: 150px;
    padding: 15px;
  }
  .form-group {
    margin-bottom: 20px;
    .form-control {
      box-shadow: 0 0 7px -4px rgba(0, 0, 0, 0.3) inset !important;
    }
  }
  formly-wrapper-addons {
    .form-control {
      padding-left: 55px;
      background-image: none !important;
    }
  }
  .icon-right {
    formly-wrapper-addons {
      .form-control {
        padding-left: 12px;
        padding-right: 55px;
      }
    }
  }
  .input-group-prepend {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    height: 48px;
  }
  .input-group-append {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
    height: 48px;
  }
  .input-group-text {
    color: #afb0bf;
    background: none;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
  }
  .icon-lock {
    &::after {
      content: '';
      height: 20px;
      width: 14px;
      background-image: url('../assets/images/lock.png');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center center;
    }
  }
  .icon-marker {
    &::after {
      content: '';
      height: 17px;
      width: 14px;
      background-image: url('../assets/images/marker.png');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center center;
    }
  }
  .forgotLink {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 12px;
    a {
      color: #4372fc !important;
      font-weight: 500;
    }
  }
}

.no-lbl label {
  display: none;
}

.signUpLink {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  a {
    color: #4372fc !important;
    font-weight: 500;
    margin-left: 5px;
  }
}

.form-user-wrap {
  background-color: #fafafc;
  height: 100vh;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .form-user-inner {
    max-width: 550px;
    margin: 0 auto;
  }
  .card-user {
    box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 7px;
    overflow: hidden;
    padding: 30px;
    margin-top: 95px;
    margin-bottom: 50px;
  }
  .form-user h4 {
    margin: 0 0 42px;
    position: relative;
    text-align: center;
    letter-spacing: 0.5px;
  }
  .form-user .hint-text {
    color: #999;
    margin-bottom: 30px;
    text-align: center;
  }
}

.user-register {
  .form-user-inner {
    max-width: 580px;
  }
}

.page-myAccount {
  .form-user-inner {
    max-width: 100%;
  }
  .card-user {
    margin-top: 0;
    h4 {
      text-align: left;
    }
  }
}

.w-250 {
  width: 250px;
}
.page-title {
  margin: 0 0 42px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.myDashboard {
  max-width: 1280px;

  .theme-tabs {
    border: none;
    margin-bottom: 27px;

    .nav-link {
      font-size: 12px;
      border: 1px solid #e3e3e3;
      margin-right: 12px;
      background-color: #ffffff;
      border-radius: 5px;
      min-width: 110px;
      text-align: center;
      color: #9da2af;
      text-transform: uppercase;
    }
    .nav-link.active {
      background-color: #4372fc;
      border-color: #4372fc;
      color: #fff;
    }
  }
}
.card-list {
  margin-bottom: 20px;

  .card-body {
    padding: 24px;
  }
  .eve-icon-wrap {
    display: flex;
    align-items: center;
    padding-left: 7px;
    .eve-title {
      padding-left: 22px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-size: 16px;
    }
  }
  .eve-text {
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
    span {
      margin-right: 12px;
    }
  }
  .eve-users {
    padding-right: 15px;
    > i {
      color: #b2b3c1;
      font-size: 16px;
      margin-right: 10px;
    }
    > span {
      font-weight: 500;
      letter-spacing: 0.5px;
      font-size: 16px;
    }
  }
}

.event-selected {
  .page-title {
    margin-bottom: 25px;
  }
  .card-body {
    padding: 25px 22px;
  }
  h6 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  p {
    color: #9da2af;
    margin-bottom: 2px;
    font-size: 13px;
    span {
      margin-right: 10px;
    }
  }
  hr {
    border-color: #efefef;
    margin: 10px 0 12px 0;
  }
  .eve-total {
    font-weight: 500;
  }
  .eve-total-val {
    color: #9da2af;
    text-align: right;
  }
}

.theme-card {
  box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 7px;
  overflow: hidden;
}

.forAdd .eventId {
  opacity: 0;
  height: 1px;
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.page-events {
  .card-user {
    margin-top: 0;
    h4 {
      text-align: left;
    }
  }
  .form-user-inner {
    max-width: 100%;
  }
}

.form-user-wrap.page-inner {
  height: auto;
  background: none;
  overflow: visible;
}

formly-field-select,
.formly-field-select {
  display: block;
  position: relative;
}
formly-field-select::after,
.formly-field-select::after {
  content: '';
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -2px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #b2b2b2;
  z-index: 1;
}
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
  background-image: none !important;
}

// Responsive ===============

@media only screen and (min-width: 1100px) {
  .event-list {
    flex: 0 0 78%;
    max-width: 78%;
  }
  .event-selected {
    flex: 0 0 22%;
    max-width: 22%;
  }
}

@media only screen and (min-width: 1024px) {
  .theme-top-nav .navbar-brand {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .main-content {
    margin-left: 0 !important;
  }
  .close-sidebar {
    display: block;
    padding: 18px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 4;
  }
  .navbar-toggler.navbar-toggler-mobile {
    border: none;
  }
  .sidebar-wrap {
    overflow: hidden;
  }
  .event-list {
    margin-bottom: 40px;
  }
  .myDashboard .theme-tabs .nav-link {
    margin-bottom: 12px;
  }
  .myDashboard .theme-tabs {
    margin-bottom: 15px;
  }
  .card-list .eve-icon-wrap {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .card-list .eve-icon-wrap {
    display: block;
  }
  .eve-icon {
    width: 40px;
    margin: 0 auto 15px;
  }
  .card-list .eve-icon-wrap .eve-title {
    padding-left: 0;
    text-align: center;
  }
  .card-list .eve-text {
    text-align: center;
    margin-bottom: 20px;
  }
  .card-list .eve-users {
    text-align: center;
    padding-right: 0;
  }

  // -----------------------------------

  @-moz-keyframes slidein {
    0% {
      width: 0;
    }
    100% {
      width: 260px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      width: 0;
    }
    100% {
      width: 260px;
    }
  }
  @keyframes slidein {
    0% {
      width: 0;
    }
    100% {
      width: 260px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      width: 260px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      width: 260px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes slideout {
    0% {
      width: 260px;
    }
    100% {
      width: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .page-content {
    padding: 15px;
  }
  .page-myAccount {
    .container {
      padding: 0;
    }
    .card-user {
      padding: 10px;
    }
  }
}
