/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafc;
  font-size: 14px;
}
a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: inherit;
}
hr {
  border-top: 1px solid #dfdfe8;
}
p {
  color: #737373;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
img {
  display: block;
  max-width: 100%;
}
.theme-top-nav.navbar {
  background-color: #fff !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;

  .dropdown-menu {
    border-radius: 10px;
  }
}
.nav-link {
  cursor: pointer;
}
.navbar-toggler.navbar-toggler-show {
  display: block;
  border: none;
  padding: 0;
  span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #4372fc;
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
      width: 22px;
    }
  }
}
.navbar-collapse {
  flex-grow: 0;
}
.nav-options .nav-item {
  margin: 0 5px;
}
.nav-options .nav-item .nav-link {
  color: #777 !important;
}
.collapsible {
  overflow: hidden;
}
.page-item.active .page-link {
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}
.card-side-inner.card {
  border: none;
}
.card-side-inner.card .card-body {
  padding: 0 15px;
}
.main-content {
  margin-left: 260px;
}
.page-content {
  padding: 40px;
  min-height: calc(100vh - 122px);
  // height: calc(100vh - 117px);
  // overflow-y: auto;
}
.sidebar-wrap {
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #ddd;
  padding-bottom: 60px;
  .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;

    &:after {
      content: '';
      background-color: #ffffff;
      // background: #1dc7ea;
      // background: linear-gradient(to bottom, #1dc7ea 0, #4091ff 100%);
      background-size: 150% 150%;
      z-index: 2;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // opacity: 0.77;
    }
  }
  .navbar {
    border: none;
    margin-left: 0;
    background-color: inherit;
    padding: 0;
    position: relative;
    z-index: 3;
    .side-menu-container {
      width: 100%;
    }
  }
  .navbar-header {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    height: 80px;
    .navbar-brand {
      background-color: #ecf0fe;
      padding: 29px 24px;
      margin: 0;
      display: block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
  .navbar-nav {
    .panel {
      border: 0 none;
      box-shadow: none;
      margin: 0;
      background: inherit;
    }
    li {
      display: block;
      width: 100%;
      a {
        padding: 25px;
        color: #d7d8df;
        text-transform: uppercase;
        font-weight: 400;
        overflow: hidden;
        .glyphicon,
        i {
          font-size: 22px;
          margin-right: 25px;
          width: 28px;
          text-align: center;
        }
      }
      a.active,
      a:hover {
        color: #4d4d4d;
      }
    }
  }
  .nb {
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
    overflow: hidden;
  }
}

.main-content {
  margin-left: 0;
  -moz-animation: bodyslideout 300ms forwards;
  -o-animation: bodyslideout 300ms forwards;
  -webkit-animation: bodyslideout 300ms forwards;
  animation: bodyslideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sidebar-wrap {
  -moz-animation: slideout 300ms forwards;
  -o-animation: slideout 300ms forwards;
  -webkit-animation: slideout 300ms forwards;
  animation: slideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.wrapper.show_sidebar {
  .sidebar-wrap {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .main-content {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .brand-small {
    display: none;
  }
  .brand-big {
    display: block;
    span {
      position: relative;
      top: 2px;
    }
  }
  .sidebar-wrap .navbar-nav li a i {
    margin-right: 8px;
    font-size: 17px;
  }
  .sidebar-bottom-links {
    left: 15px;
    bottom: 15px;
    right: 15px;
  }
}

/* Slide in animation */
@-moz-keyframes slidein {
  0% {
    width: 80px;
  }
  100% {
    width: 260px;
  }
}
@-webkit-keyframes slidein {
  0% {
    width: 80px;
  }
  100% {
    width: 260px;
  }
}
@keyframes slidein {
  0% {
    width: 80px;
  }
  100% {
    width: 260px;
  }
}
@-moz-keyframes slideout {
  0% {
    width: 260px;
  }
  100% {
    width: 80px;
  }
}
@-webkit-keyframes slideout {
  0% {
    width: 260px;
  }
  100% {
    width: 80px;
  }
}
@keyframes slideout {
  0% {
    width: 260px;
  }
  100% {
    width: 80px;
  }
}

@-moz-keyframes bodyslidein {
  0% {
    margin-left: 80px;
  }
  100% {
    margin-left: 260px;
  }
}
@-webkit-keyframes bodyslidein {
  0% {
    margin-left: 80px;
  }
  100% {
    margin-left: 260px;
  }
}
@keyframes bodyslidein {
  0% {
    margin-left: 80px;
  }
  100% {
    margin-left: 260px;
  }
}
@-moz-keyframes bodyslideout {
  0% {
    margin-left: 260px;
  }
  100% {
    margin-left: 80px;
  }
}
@-webkit-keyframes bodyslideout {
  0% {
    margin-left: 260px;
  }
  100% {
    margin-left: 80px;
  }
}
@keyframes bodyslideout {
  0% {
    margin-left: 260px;
  }
  100% {
    margin-left: 80px;
  }
}

.close-sidebar {
  display: none;
}

.side-menu-container {
  > .navbar-nav {
    > .nav-item {
      position: relative;

      > .card.collapsible {
        position: absolute;
        top: 0;
        left: 100%;
        box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.3);
        width: 200px;
      }
    }
  }
  .card.collapsible .card-body {
    padding: 6px;
  }
}
.show_sidebar {
  .side-menu-container {
    > .navbar-nav {
      > .nav-item {
        > .card.collapsible {
          position: static;
          top: 0;
          left: 0;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
          width: auto;
        }
      }
    }
  }
}

.navbar-title h5 {
  margin: 0;
  padding-left: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #0b1d53;
}
.nl-block {
  display: inline-flex;
  vertical-align: middle;
  .profile-img {
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    height: 35px;
    margin-right: 12px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .nl-right {
    margin-right: 15px;
    .userName {
      font-size: 12px;
      text-transform: uppercase;
      color: #000;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
    .accSeting {
      font-size: 12px;
      color: #a1a5b2;
    }
  }
}

.dropdown-toggle::after {
  border-top-color: #4372fc;
  border-bottom-color: #4372fc;
}

// Responsive ===============

@media only screen and (min-width: 1024px) {
  .theme-top-nav .navbar-brand {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .main-content {
    margin-left: 0 !important;
  }
  .close-sidebar {
    display: block;
    padding: 18px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 4;
  }
  .navbar-toggler.navbar-toggler-mobile {
    border: none;
  }
  .sidebar-wrap {
    overflow: hidden;
  }

  // -----------------------------------

  @-moz-keyframes slidein {
    0% {
      width: 0;
    }
    100% {
      width: 260px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      width: 0;
    }
    100% {
      width: 260px;
    }
  }
  @keyframes slidein {
    0% {
      width: 0;
    }
    100% {
      width: 260px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      width: 260px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      width: 260px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes slideout {
    0% {
      width: 260px;
    }
    100% {
      width: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .page-content {
    padding: 15px;
  }
}
